/* Students:
 * =========
 * Add styling to your d3 chart with this file. */

#graph svg {
    background: rgb(230, 236, 247);
    
}

.tooltip {
    background: rgb(45, 45, 240);
    color: aliceblue;
    padding: 4px;
    font-size: 10px !important;
    text-align: center !important;
    font-weight: 600 !important;
    border-radius: 5px;     
}

.circles {
    /* stroke: rgb(44, 150, 236); */
    stroke-width: 2.5px;
    opacity: 0.9;
}

.circles:hover {
    r: 13;
    stroke: rgb(44, 150, 236);
    stroke-width: 1px;
    /* opacity: 1;
    z-index: 1; */
}

.circles-text {
    fill: rgb(50, 95, 241);
    font-size: 9px;
    font-weight: bold;
    text-anchor: middle;

}

.active {
    font-weight: bold;
    fill: #1030be;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}
  
.inactive {
    font-weight: lighter;
    fill: #102391;
    transition: fill 0.3s ease-out;
    text-anchor: middle;
}

.inactive:hover {
    fill: #50a2f0;
    font-weight: normal;
    cursor: pointer;
}

.domain {
    stroke: #6f81e9;
}
